force-app/main/default/flows/Consulta_CEP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_CEP_Information</name>
        <label>Get CEP Information</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <actionName>GetCepInfo</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Does_the_CEP_exist</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>cep</name>
            <value>
                <elementReference>CEP</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Does_the_CEP_exist</name>
        <label>Does the CEP exist?</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>CEP_Result_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_CEP_does_not_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CEP_Information.erro</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CEP_Not_Exist_Screen</targetReference>
            </connector>
            <label>No - CEP does not exist</label>
        </rules>
    </decisions>
    <description>Flow básico para consulta de CEP.</description>
    <interviewLabel>Consulta CEP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Consulta CEP</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>CEP_Input_Screen</name>
        <label>CEP Input Screen</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_CEP_Information</targetReference>
        </connector>
        <fields>
            <name>CEP</name>
            <dataType>String</dataType>
            <fieldText>CEP</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CEP_Not_Exist_Screen</name>
        <label>CEP Not Exist Screen</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CEP_Not_Exist_Display_Text</name>
            <fieldText>&lt;p&gt;O CEP fornecido ({!CEP}) não existe.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CEP_Result_Screen</name>
        <label>CEP Result Screen</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CEP_Result</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_CEP_Information.cep</elementReference>
            </defaultValue>
            <fieldText>CEP</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Logradouro_Result</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_CEP_Information.logradouro</elementReference>
            </defaultValue>
            <fieldText>Logradouro</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Complemento_Result</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_CEP_Information.complemento</elementReference>
            </defaultValue>
            <fieldText>Complemento</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Bairro_Result</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_CEP_Information.bairro</elementReference>
            </defaultValue>
            <fieldText>Bairro</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Localidade_Result</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_CEP_Information.localidade</elementReference>
            </defaultValue>
            <fieldText>Localidade</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Estado_Result</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_CEP_Information.uf</elementReference>
            </defaultValue>
            <fieldText>Estado</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Display_Text</name>
            <fieldText>&lt;p&gt;Houve um error ao consultar o CEP.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CEP_Input_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
