force-app/main/default/flows/Conta_CEP_endereco_comercial.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_CEP_Information</name>
        <label>Get CEP Information</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <actionName>GetCepInfo</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Does_the_CEP_exist</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>cep</name>
            <value>
                <elementReference>CEP</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Does_the_CEP_exist</name>
        <label>Does the CEP exist?</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>CEP_Result_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_CEP_does_not_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CEP_Information.erro</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CEP_Not_Exist_Screen</targetReference>
            </connector>
            <label>No - CEP does not exist</label>
        </rules>
    </decisions>
    <formulas>
        <name>Logradouro_Formula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Complemento_Result}), {!Logradouro_Result}, {!Logradouro_Result} + &apos;-&apos; + {!Complemento_Result})</expression>
    </formulas>
    <interviewLabel>Conta - CEP endereço comercial {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Conta - CEP endereço comercial</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Account_Updated_Result</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>Localidade_Result</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <stringValue>BR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>CEP_Result</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>Estado_Result</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>Logradouro_Formula</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Account_Updated_Result</name>
        <label>Account Updated Result</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Address_Updated_Display_Text</name>
            <fieldText>&lt;p&gt;O endereço foi atualizado com sucesso.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CEP_Input_Screen</name>
        <label>CEP Input Screen</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_CEP_Information</targetReference>
        </connector>
        <fields>
            <name>CEP</name>
            <dataType>String</dataType>
            <fieldText>CEP</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CEP_Not_Exist_Screen</name>
        <label>CEP Not Exist Screen</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CEP_Not_Exist_Display_Text</name>
            <fieldText>&lt;p&gt;O CEP fornecido ({!CEP}) não existe.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CEP_Result_Screen</name>
        <label>CEP Result Screen</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
        <fields>
            <name>CEP_Result</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_CEP_Information.cep</elementReference>
            </defaultValue>
            <fieldText>CEP</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Logradouro_Result</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_CEP_Information.logradouro</elementReference>
            </defaultValue>
            <fieldText>Logradouro</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Complemento_Result</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_CEP_Information.complemento</elementReference>
            </defaultValue>
            <fieldText>Complemento</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Bairro_Result</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_CEP_Information.bairro</elementReference>
            </defaultValue>
            <fieldText>Bairro</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Localidade_Result</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_CEP_Information.localidade</elementReference>
            </defaultValue>
            <fieldText>Localidade</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Estado_Result</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_CEP_Information.uf</elementReference>
            </defaultValue>
            <fieldText>Estado</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Display_Text</name>
            <fieldText>&lt;p&gt;Houve um error ao consultar o CEP.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CEP_Input_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
